{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css">
{% end %}

{% block content %}
  <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Cumulus!</h1>
        <p>Here you can create a word cloud from any URL on the internet.</p>
        <div class='row'>
            <div class='col-lg-6 col-lg-offset-3'>
                {% if url %}
                    <h2>Your word cloud for <span style='font-family: monospace;'>{{ url }}</span>:</h2>
                    <div id='wordcloud'></div>
                    <a href='/' class='btn btn-lg btn-default'>Create another</a>
                {% else %}
                    <form method='post'>
                      {% module xsrf_form_html() %}
                      <div class="form-group">
                        <input type="text" class="form-control" id="input-url" name='url' placeholder="Enter a URL">
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary">Create tag cloud</button>
                    </form>                
                {% end %}
        
            </div>
        </div>
      </div>
    </div>
{% end %}

{% block bottom %}
    {% if url %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
        <script type="text/javascript">
            var word_list = new Array(
                {% for index, word in enumerate(words) %}
                    {text: "{{ word['text'] }}", weight: {{ word['weight'] }}}{% if index < len(words) -1  %},{% end %}                 
                {% end %}
            );
            $(document).ready(function() {
                $("#wordcloud").jQCloud(word_list);
            });
        </script>
    {% end %}
{% end %}